<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Anarchy-wrapper" version="0.7.2" targetFramework="net472" />
  <package id="better-websocket-sharp" version="1.0.2.1" targetFramework="net472" />
  <package id="Leaf.xNet" version="5.2.10" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
</packages>